body, html {
  height: 100%;
  margin: 0;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
}
h1 {
  color: purple;
}
p {
  font-size: 1.25em;
}
 
#parking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
}
/* Add responsiveness */
@media (max-width: 600px) {
  body {
    background-color: lightgray;
  }
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
#parking {
  max-width: 250px;
}
}